<ion-header>
  <ion-navbar>
    <ion-title>
      Mi lista de Pendientes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <div class="card">
      <div class="card-body">

        <div class="col-md-12 text-center">
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Nuevo</label>
            <div class="col-md-8">
              <input type="text" class="form-control" [(ngModel)]="newPending" name="newPending" placeholder="Pendiente aqui...">
            </div>
            <div class="col-md-2">
              <button *ngIf="!edit" (click)="addPending()" class="btn btn-primary">Agregar</button>
              <button *ngIf="edit" (click)="editPending('','',2)" class="btn btn-primary">Editar</button>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">

            <div *ngIf="pendings.length === 0; else data" class="alert alert-danger" role="alert">
              No hay dato en la lista de pendientes...
            </div>
            
            <ng-template #data>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pending of pendings; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{pending.name}}</td>
                      <td>
                        <button (click)="editPending(pending._id, pending.name, 1)" class="btn btn-default">
                          <ion-icon name="create"></ion-icon>
                        </button>
                        <button (click)="deletePending(pending._id)" class="btn btn-default">
                          <ion-icon name="trash"></ion-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
            
          </div>
        </div>

      </div>
    </div>
  </div>
  
</ion-content>
